version: 2
jobs:
  build:
    docker:
      - image: cimg/go:1.13

    working_directory: ~/
    environment:
      ADDR0: "0xb79749F25Ef64F9AC277A4705887101D3311A0F4"
      ADDR1: "0x5E3230019fEd7aB462e3AC277E7709B9b2716b4F"
      ADDR2: "0x515B385bDc89bCc29077f2B00a88622883bfb498"
      ADDR3: "0xC927A0CF2d4a1B59775B5D0A35ec76d099e1FaD4"
      KEY0: "2628ca66087c6bc7f9eff7d70db7413d435e170040e8342e67b3db4e55ce752f"
      KEY1: "86e60281da515184c825c3f46c7ec490b075af1e74607e2e9a66e3df0fa22122"
      KEY2: "b77b291fab2b0a9e03b5ee0fb0f1140ff41780e93a39e534d54a05ccfad3eead"
      KEY3: "54a93b74538a7ab51062c7314ea9838519acae6b4ea3d47a7f367e866010364d"
      DATADIR_ROOTCHAIN: "/home/circleci/.root-chain-node-1"
      DATADIR_MANAGERS: "/home/circleci/plasma-evm/pls.manager"
      DATADIR_OPERATOR1: "/home/circleci/plasma-evm/pls.oper1"
      DATADIR_OPERATOR2: "/home/circleci/plasma-evm/pls.oper2"
    steps:
      - run:
          name: Compile rootchain
          command: |
            set -x
            git clone https://github.com/Onther-Tech/go-ethereum
            cd go-ethereum
            make geth

      - run:
          name: Compile childchain as operator
          command: |
            set -x
            git clone -b fix/stop-process https://github.com/Onther-Tech/plasma-evm
            cd plasma-evm
            make geth
            echo "" > signer.pass
            build/bin/geth --nousb account importKey $KEY0 --password signer.pass --datadir $DATADIR_MANAGERS
            build/bin/geth --nousb account importKey $KEY1 --password signer.pass --datadir $DATADIR_OPERATOR1
            build/bin/geth --nousb account importKey $KEY2 --password signer.pass --datadir $DATADIR_OPERATOR2
            echo 'COUNT=$1' >> sendTx.sh
            echo 'geth_command="../build/bin/geth --exec '\'web3.eth.sendTransaction\({from: eth.accounts[0], to:eth.accounts[0], value: 0}\)\'' attach --datadir ./"' >> sendTx.sh
            echo 'if [ $1 -gt 0 ] ; then for i in `seq 1 $1`; do eval ${geth_command} && sleep 5; done; fi' >> sendTx.sh
            echo 'if [ $1 -eq 0 ] ; then while :; do eval ${geth_command} && sleep 5; done; fi' >> sendTx.sh
            echo '' > pwd.pass

      - save_cache:
          key: plasma-evm-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/
  test:
    docker:
      - image: cimg/go:1.13

    working_directory: ~/
    environment:
      ADDR0: "0xb79749F25Ef64F9AC277A4705887101D3311A0F4"
      ADDR1: "0x5E3230019fEd7aB462e3AC277E7709B9b2716b4F"
      ADDR2: "0x515B385bDc89bCc29077f2B00a88622883bfb498"
      ADDR3: "0xC927A0CF2d4a1B59775B5D0A35ec76d099e1FaD4"
      KEY0: "2628ca66087c6bc7f9eff7d70db7413d435e170040e8342e67b3db4e55ce752f"
      KEY1: "86e60281da515184c825c3f46c7ec490b075af1e74607e2e9a66e3df0fa22122"
      KEY2: "b77b291fab2b0a9e03b5ee0fb0f1140ff41780e93a39e534d54a05ccfad3eead"
      KEY3: "54a93b74538a7ab51062c7314ea9838519acae6b4ea3d47a7f367e866010364d"
      DATADIR_MANAGERS: "/home/circleci/plasma-evm/pls.manager"
      DATADIR_OPERATOR1: "/home/circleci/plasma-evm/pls.oper1"
      DATADIR_OPERATOR2: "/home/circleci/plasma-evm/pls.oper2"

    steps:
      - restore_cache:
          key: plasma-evm-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/

      - run:
          name: Run rootchain
          background: true
          command: |
            set -x
            rm -rf $DATADIR_ROOTCHAIN
            cd go-ethereum
            bash run.rootchain.sh false

      - run:
          name: Test pls package - InvalidExit Try 1
          command: |
            set -x
            sleep 10
            cd plasma-evm
            curl -X POST --data '{"jsonrpc":"2.0","method":"eth_blockNumber","params":[],"id":67}' -H 'Content-Type: application/json' --retry 100 --retry-delay 3 --retry-connrefused  http://127.0.0.1:8545
            go test -v --count=1 --timeout 3600s ./pls -run TestInvalidExit

      - run:
          name: Test pls package - InvalidExit Try 2
          command: |
            set -x
            sleep 10
            cd plasma-evm
            curl -X POST --data '{"jsonrpc":"2.0","method":"eth_blockNumber","params":[],"id":67}' -H 'Content-Type: application/json' --retry 100 --retry-delay 3 --retry-connrefused  http://127.0.0.1:8545
            go test -v --count=1 --timeout 3600s ./pls -run TestInvalidExit

      - run:
          name: Test pls package - InvalidExit Try 3
          command: |
            set -x
            sleep 10
            cd plasma-evm
            curl -X POST --data '{"jsonrpc":"2.0","method":"eth_blockNumber","params":[],"id":67}' -H 'Content-Type: application/json' --retry 100 --retry-delay 3 --retry-connrefused  http://127.0.0.1:8545
            go test -v --count=1 --timeout 3600s ./pls -run TestInvalidExit

      - run:
          name: Test pls package - InvalidExit Try 4
          command: |
            set -x
            sleep 10
            cd plasma-evm
            curl -X POST --data '{"jsonrpc":"2.0","method":"eth_blockNumber","params":[],"id":67}' -H 'Content-Type: application/json' --retry 100 --retry-delay 3 --retry-connrefused  http://127.0.0.1:8545
            go test -v --count=1 --timeout 3600s ./pls -run TestInvalidExit

      - run:
          name: Test pls package - InvalidExit Try 5
          command: |
            set -x
            sleep 10
            cd plasma-evm
            curl -X POST --data '{"jsonrpc":"2.0","method":"eth_blockNumber","params":[],"id":67}' -H 'Content-Type: application/json' --retry 100 --retry-delay 3 --retry-connrefused  http://127.0.0.1:8545
            go test -v --count=1 --timeout 3600s ./pls -run TestInvalidExit

workflows:
  version: 2
  build-and-test:
    jobs:
      - build
      - test:
          requires:
            - build